<div id="link-about" class="login-content">
  <div class="about-title-visual">
    <div class="container">
      <h2 class="about-title text-center pt-4 pb-5">
        with家計簿とは？<span><%= image_tag '/images/cat_footprint.png',size: '30x30' %></span>
      </h2>
    </div>
  </div>
  <div class="about-body">
    <p class="about-text container">
      <strong class="about-headline">『家計簿が長く続かない！』<br>
        <br>
        そんな経験を<br>
        お持ちではないですか？</strong><br>
      <br>
      <strong class="about-text-normal">
        このwith家計簿では、友達やカップル、夫婦<span class="puton-color">といった</span><br>
        様々なシチュエーションで、SNSのように<span class="puton-color">共有しながら</span><br>
        家計簿をつけられるようになっています。<br>
      </strong>
      <br>
      <br>
      <strong class="about-headline">まずは、始めてみましょう！</strong>
    </p>
  </div>
</div>