<div id="about" class="about-content mb-5">
  <div class="about-title-visual">
  	<div class="container">
  		<h2 class="about-title text-center pt-4 pb-5 mb-3">
        with家計簿とは？<span><%= image_tag 'cat_footprint.png',size: '30x30' %></span>
      </h2>
    </div>
  </div>
  <div class="about-body">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
          <div class="card about-card my-5">
            <div class="card-body">
              <p class="card-text about-text">
                <br>
                <span style="font-size: 25px;">家計簿が長く続かない経験をお持ちではないですか？</span><br>
                <br>
                このwith家計簿では、友達やカップル、夫婦といった<br>
                様々なシチュエーションで、
                SNSのように共有しながら家計簿をつけられるようになっています。<br>
                <br><br>
                <strong style="font-size: 25px;">まずは、始めてみましょう！</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>