<div id="about" class="about-content mb-5">
  <div class="about-title-visual">
  	<div class="container">
  		<h2 class="about-title text-center pt-4 pb-5 mb-3">
        with家計簿とは？<span><%= image_tag 'cat_footprint.png',size: '30x30' %></span>
      </h2>
    </div>
  </div>
  <div class="about-body">
    <p class="about-text container">
      <strong style="font-size: 50px;">『家計簿が長く続かない！』<br>
      <br>
      そんな経験を<br>
      お持ちではないですか？</strong><br>
      <br>
      <strong style="font-size: 30px">
      このwith家計簿では、友達やカップル、夫婦とい<span style="color: #fff;">った</span><br>
      様々なシチュエーションで、SNSのように共有しな<span style="color: #fff;">がら</span><br>
      家計簿をつけられるようになっています。<br></strong>
      <br><br>
      <strong style="font-size: 50px;">まずは、始めてみましょう！</strong>
    </p>
  </div>
</div>