
<div class="main-visual">
	<div class="container">

		<h1 class="text-right">with 家計簿</h1>
		<p class="text-right">Find me in app/views/top/index.html.erb</p>
    <div class="button-7">
      <div class="eff-7"></div>
      <%=link_to "ログイン",  new_user_session_path %>
    </div>
    <div class="button-7">
      <div class="eff-7"></div>
      <%=link_to "新規登録",  new_user_registration_path %>
    </div>
	</div>
</div>
<div class="about-content mb-5">
	<div class="container">
		<h2 class="about-title text-center mt-4 mb-3">
      with家計簿とは？<span><%= image_tag 'cat_footprint.png',size: '30x30' %></span>
    </h2>
	</div>
</div>