
<div class="main-visual">
	<div class="container">
    <script>
      $(function(){
        $('.fadein-write').fadeMover({
          'effectType': 2,
          'inSpeed': 5000,
          'outSpeed': 800,
          'inDelay' : '800',
          'outDelay' : '400',
          'nofadeOut' : 'nonmover'
        });
      });
    </script>

		<p class="vertical-writing fadein-write">家計簿を</h1>
		<p class="vertical-writing2 fadein-write">共有して</p>
    <p class="vertical-writing3 fadein-write">みませんか？</p>
    <div class="button-7">
      <div class="eff-7"></div>
      <%=link_to "ログイン",  new_user_session_path %>
    </div>
    <div class="button-7">
      <div class="eff-7"></div>
      <%=link_to "新規登録",  new_user_registration_path %>
    </div>
	</div>
</div>
<!-- 後でパーシャルで分離。 ここから-->
<div class="about-content mb-5">
	<div class="container">
		<h2 class="about-title text-center mt-4 mb-3">
      with家計簿とは？<span><%= image_tag 'cat_footprint.png',size: '30x30' %></span>
    </h2>
    <div class="about-body">
      <p class="text-center">家計簿が長く続かない経験をお持ちではないですか？<br>このwith家計簿では、友達やカップル、夫婦といった様々なシチュエーションで、SNSのように共有しながら家計簿をつけられるようになっています。
    </div>
	</div>
<!--   ここまで -->
</div>