/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.card {
  border: 0px solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.navbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
}

.new-registrations {
  padding-top: 0px;
  background: url(/images/registration-form.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 550px;
}

.registrations-form {
  background-color: rgba(255, 255, 255, 0.5);
}

.box17 {
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.box17:before,
.box17:after {
  content: "";
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.box17:before {
  left: 10px;
}
.box17:after {
  right: 10px;
}
.box17 p {
  margin: 0;
  padding: 0;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
}
